/* Global styles */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: url('../background/guest-data-Photoroom.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container styling */
.container {
    margin-top: 40px;
    margin-left: 100px;
}

/* Heading and label styling */
h1, label {
    font-size: 60px;
    color: white;
    font-family: 'Arial', sans-serif;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}

label {
    font-size: 60px;
    text-shadow: 8px 8px 12px rgba(0, 0, 0, 0.8);
}

/* Input field styling */
input.form-control {
    font-size: 30px;
    padding: 15px;
    height: auto;
    width: 600px;
    background-color: rgba(75, 99, 171, 0.8);
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    outline: none;
}

input.form-control::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

input.form-control:focus {
    background-color: rgb(247, 247, 247);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

/* Button styling */
button {
    font-size: 30px !important;
    padding: 15px 30px !important;
    background-color: rgba(75, 99, 171, 0.8) !important;
    width: 600px !important;
    border: none;
    margin-top: 10px;
    border-radius: 20px !important;
    color: white !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

button:hover {
    background-color: rgba(75, 99, 171, 1) !important;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}
