html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('../background/guest-data-Photoroom.png'); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the whole page */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

.container {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 100%; /* Full height of viewport */
    max-width: 100%; /* Limit maximum width to viewport width */
    overflow: hidden; /* Hide overflow content */
    padding: 20px; /* Adjust padding as needed */
    box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%; /* Limit maximum width to viewport width */
}

.droppable-word {
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 5px dashed #350217ab;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; /* Add padding to increase the container size */
}

.word-container {
    display: flex;
    margin-bottom: 10px;
}

#question {
    font-size: 40px;
    font-weight: bolder;
    color: white;
}

#timer {
    position: fixed; /* Change from absolute to fixed */
    top: 20px;
    left: 20px;
    background-color: rgba(75, 99, 171, 255);
    color: white;
    padding: 20px;
    border-radius: 50%; /* Use a circular border */
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 5px dashed #22010fab;
    z-index: 10; /* Ensure it's above other elements */
}

.letter-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #350217ab;
    border-radius: 20%;
    padding: 10px; /* Reduced padding */
    margin: 10px;
    min-width: 100px;
    min-height: 100px;
    background-color: rgba(75, 99, 171, 255);
    color: white; /* Font color */
    font-family: 'Arial', sans-serif; /* Font style */
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.droppable {
    border: 4px dashed #007bff;
    border-radius: 20%;
    padding: 20px;
    margin: 10px;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}

.filled {
    background-color: #007bff;
    color: white;
}

.result-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row {
    margin-left: -100px;
}
